* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas: "h" "m" "f";
}

/* HEADER */

header {
    grid-area: h;
    display: flex;
    justify-content: center;
}

.logo {
    height: 110px;
    width: 170px;
    /* display: none; */
}

/* padajuci meni */

.hide {
    display: none;
}

li {
    margin: 0;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.356);
}

li, ul {
    margin: 0;
    padding: 5px 0 5px 0;
    list-style: none;
    border-bottom: 1px solid white;
}

.menu-burger {
    width: 100%;
    height: 35px;
    position: fixed;
    z-index: 1;
}

.burger {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 2% 0 0 2%;
    /* color: crimson; */
}

.nav {
    position: fixed;
    z-index: 1;
    /* top: 50px; */
    top: 40px;
    left: 2%;
    background-color: #ff0070;
    /* width: 100%; */
    width: 50%;
    text-align: center;
    /* padding-left: 5%; */
}

/* MAIN */

main {
    grid-area: m;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* Prva pozadinska slika sa tekstom*/

.hero-image {
    background-image: linear-gradient(rgba(63, 179, 247, 0.43), rgba(67, 243, 55, 0.38)), url("./img/41.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.hero-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    padding-left: 4%;
    padding-right: 4%;
}

.hero-text a input {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: #ff0070;
    text-align: center;
    cursor: pointer;
}

.hero-text a input:hover {
    background-color: rgb(236, 114, 114);
    color: white;
}

/* PRVI TEKST */

p {
    margin: 0;
    padding: 10px;
    text-align: justify;
}

/* GALERIJA POCETAK */

.galerija {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 2px;
    grid-auto-flow: dense;
    /* popunjava prazan prostor */
}

.galerija img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(80%);
    transition: 0.6s;
}

.velika {
    grid-column: span 2;
    grid-row: span 2;
}

.horizontalna {
    grid-column: span 2;
}

.vertikalna {
    grid-row: span 4;
}

/* .galerija img {
    filter: grayscale(80%);
    transition: 0.6s;
} */

.galerija img:hover {
    filter: grayscale(0%);
}

/* GALERIJA KRAJ */

/* Druga pozadinska slika sa tekstom */

.hero-image1 {
    background-image: url("./img/10.jpg");
    /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
    /* height: 300px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    background-attachment: fixed;
}

.hero-text1 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 5%;
    margin-right: 2%;
    padding-bottom: 5%;
    margin-left: auto;
}

/* .hero-text1 p{
    text-align: end;
} */

/* .glavno {
    position: relative;
    padding-top: 8%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 8%;
    font-family: 'Open Sans', sans-serif;
} */

/* SREDISNJI TEKSTUALNI DEO */

.radimo-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radimo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.radimo {
    grid-area: r;
    align-items: center;
}

.sveze-voce {
    grid-area: v;
}

.slatko {
    grid-area: s;
}

.vino {
    grid-area: k;
}

.radimo-grid img {
    width: 100px;
    height: 100px;
}

/* Drugi tekst */

.hero-text2 {
    padding: 2%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER */

.hero-imagef {
    background-image: url("./img/malinapozadina.jpg");
    /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px 0px 10px;
}

footer {
    grid-area: f;
    justify-content: flex-start;
}

.ikonice {
    width: 30px;
    height: 30px;
    padding-left: 5px;
}

.desno-footer {
    display: flex;
}

.footer-text {
    display: flex;
    flex-direction: column;
}

/* ? */

.slika {
    max-width: 100%;
}

.box1 {
    /* height: 300px; */
    display: flex;
    /* justify-content: space-evenly; */
}

.box2 {
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.detalj {
    width: 20px;
    /* height: 300px; */
    background-color: #ff0070;
    left: 0;
}

.opis {
    padding-bottom: 2%;
}

.detalj-h {
    width: 200px;
    height: 2px;
    background-color: #ff0070;
}

/* --------------------------------------------------------------------------------------------------------- */

@media (min-width:800px) {
    /* ZAGLAVLJE */
    header {
        flex-direction: column;
    }
    .logo {
        align-self: center;
        margin-top: 50px;
        width: 300px;
        height: auto;
    }
    .hide {
        display: unset;
    }
    li a {
        text-decoration: none;
    }
    li, ul {
        border-bottom: 0;
    }
    li:hover {
        background-color: rgba(238, 12, 144, 0.356);
    }
    .nav {
        display: flex;
        width: 100%;
        height: 40px;
        justify-content: space-around;
        position: fixed;
        border-bottom: none;
        top: 0;
        left: 0;
    }
    .menu-burger {
        display: none;
    }
    .burger {
        display: none;
    }
    /* MAIN */
    /* Prva pozadinska slika sa tekstom  */
    .hero-image {
        height: 400px;
        padding-left: 0;
    }
    .hero-text {
        padding-top: 100px;
    }
    /* .tekst1 {
       
    } */
    .tekst1 {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 1%;
        /* width: 48%;
        justify-content: space-evenly; */
        text-align: center;
    }
    /* Druga pozadinska slika sa tekstom */
    /* SREDISNJI TEKSTUALNI DEO */
    .radimo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        /* grid-gap: 5px; */
        grid-template-areas: "r r r" "v s k";
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .sveze-voce, .slatko, .vino {
        padding: 3%;
    }
    /* FOOTER */
    .ikonice img {
        display: inline-block;
        justify-content: center;
        align-content: center;
        width: 50px;
        height: 50px;
        margin: auto;
        /**/
    }
    .detalj-h {
        width: 300px;
    }
    .opis {
        padding-top: 25px;
        padding-left: 25px;
    }
}
